*

!.gitignore
!.bashrc
!README.md

!.bin/
!.bin/*.sh

!.config/
!.config/nvim/
!.config/nvim/*.lua
!.config/nvim/lua/
!.config/nvim/lua/*.lua
!.config/lazygit/
!.config/lazygit/*.yml
!.config/bash/
!.config/bash/*

